html {
    font-size: 10px;
}

body {
    margin: 0;
}

body {
    font-family: sans-serif;
}

body.darken-theme,
body.darken-theme_low-contrast,
body.darken-theme_blue-border
 {
    background: #212733;
}

body.darken-theme * {
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:active,
    &:visited,
    &:focus {
        color: black;
    }
}