.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 21px;
    margin-top: 21px;

    height: 400px;
    border: 1px solid blue;

    & input {
        width: 100%;
        font-size: 21px;
    }

    .result {
        // min-height: 200px;
        min-height: 285px;
        padding-top: 21px;
        padding-left: 14px;

        border: 1px solid blue;
        // margin-top: 40px;
        margin-top: 21px;

        &-string {
            font-size: 21px;
            color: #000;
            font-weight: 400;
        }
    }
}